<div class="section bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLink="/clinics" routerLinkActive="active">Clinics</a>
                    <a *ngIf="accountService.currentUser$ | async" class="nav-item nav-link" routerLink="/clinic-management" routerLinkActive="active">Clinic Management</a>


                    <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active"
                        *ngIf="!(isLoggedIn() | async)">Register</a>

                    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active"
                        *ngIf="!(accountService.currentUser$| async)">Login</a>

                    <a class="nav-item nav-link" (click)="logout()" *ngIf="isLoggedIn() | async"
                        style="cursor: pointer;">Logout</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<router-outlet></router-outlet>